body,
html {
  height: 100%;
}

img {
  max-width: 100%;
  margin: 0 auto;
}
.container {
  min-height: 100%;
}

.mt-5,
.my-5 {
  padding-bottom: 3rem;
}

.alert-danger {
  width: 100%;
  padding: 1rem;
}

.footer {
  height: 40px;
  line-height: 2;
  background-color: #ddd;
  z-index: 1;
  width: 100%;
  margin: 0;
  text-align: center;
}
.fa-heart {
  color: blueviolet;
}
#loading,
#results {
  display: none;
}
